root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{csproj,props,targets,xml,manifest}]
indent_size = 2

[*.{cmd,bat}]
end_of_line = crlf

[*.ps1]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
